<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
</head>

<body align="center" style="margin: 0; padding: 0;">
    <div align="center" style="padding: 40px; border-radius: 10px; width: 300px; text-align: center;">

        <h1 align="center" style="margin: 1rem 0;font-size: 24px;">Thank You For Your Interest!</h1>
        <p align="center" style="margin: 10px 0; line-height : 1.5rem;">Hi <strong>
                <%= data.name %>
            </strong>, you are successfully
            subscribed for Washta app launch and secured
            your spot to be one of the first to register your carwash service on our platform . Our team will
            contact
            you with the details Stay tuned and prepare to grow your business with us! </p>
        <b>Washta Team</b>
        <section>
            <!-- content here -->
            <div class="curve"></div>
        </section>

    </div>
</body>

</html>